html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  color: theme('colors.gray.50');
  background-color: theme('colors.gray.800');
}

.mdi-icon{
  transition: transform .2s ease;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scroll::-webkit-scrollbar,
.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 7px;
  height: 9px;
}

.scroll::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-track,
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: transparent;
}
